.sort-handle.visible, 
.drop-handle.visible,
.area-handle.visible
{
    display: block;
    visibility: visible;
}
        
body.edit-layout .handle-container {
    display: block;
}

body.edit-layout {
    position: relative !important;
}

.handle-container {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    display: none;
    overflow: hidden;
}
        
.move-handle {
    width: 32px;
    height: 32px;
    padding: 2px;
    background: #fff url(images/move_32x32.png) 2px 2px no-repeat;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: move;
    box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
}
        
.component-handle {
    position: absolute;
    /*border: 1px solid blue;*/
}

.component-handle > * {
    visibility: hidden;
}

.component-handle:hover, .component-handle.hover  {
    /*border: 2px solid rgba(0,136,255,0.5);
    background: rgba(0,136,255,0.2);*/
    box-shadow: 0px 0px 5px #0088ff inset;
    -moz-box-shadow: 0px 0px 5px #0088ff inset;
    -webkit-box-shadow: 0px 0px 5px #0088ff inset;
}
                
.component-handle.selected {
    /*border: 2px solid #0088ff;
    background: none;*/
    /*box-shadow: 0px 0px 5px #0088ff inset;
    -moz-box-shadow: 0px 0px 5px #0088ff inset;
    -webkit-box-shadow: 0px 0px 5px #0088ff inset;*/
}

.component-handle.selected[draggable] {
    cursor: move;
}

.component-handle.selected > * {
    visibility: visible;
}

.area-handle {
    position: absolute;
    display: none;
    /*border: 1px solid red;*/
}

body.edit-layout .component-handle:hover > .controls-handle.visible {
    display: block;
}

.controls-handle {
    position: absolute;
    top: 0px; left: 0px; right: 0px; height: 0;
    overflow: visible;
    display: none;
}

.drop-handle {
    position: absolute;
    left: 15px; top: 15px; right: 15px; bottom: 15px; z-index: 3;
    border: 2px solid red;
    min-height: 40px;
    color: red;
    /*display: none;*/
}

.drop-handle.drag-over {
    background: rgba(255,0,0,0.3);
}
                
.sort-handle {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0; z-index: 2;
    border: 2px solid blue;
    min-height: 40px;
    color: blue;
    display: none;
}

.sort-handle.drag-over {
    background: rgba(0,0,255,0.3);
}