body {
    margin: 0;
    padding: 0;
}

body.wp-admin > .teacss-ui {
    left: 147px !important;
    top: 28px !important;
}
body.wp-admin.folded > .teacss-ui {
    left: 34px !important;
}

.teacss-ui .preview-toolbar fieldset {
    display: inline-block;
    height: 99px;
    margin: 0;
    padding: 0;
    position: relative;
    padding: 0 10px;
    text-align: center;
}
        
.teacss-ui .preview-toolbar fieldset:after {
    content: "";
    position: absolute;
    top: 10px; bottom: 10px;
    right: 0; width: 0;
    border-right: 1px solid #aaa;
}
        
.teacss-ui .preview-toolbar fieldset legend {
    bottom: 0;
    font-size: 10px !important;
    line-height: 14px !important;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;            
}

.preview-toolbar a {
    text-decoration: none;
    border-bottom: 1px dashed;
    color: inherit;
}
        
.teacss-ui {
    font-size: 12px !important;
}

.teacss-ui div fieldset {
    font-size: 12px !important;
    font-family: sans-serif !important;
    border: none;
}

.teacss-ui div fieldset fieldset {
    border: 1px solid #ccc;
}
        
.teacss-ui div fieldset legend {
    font-size: 13px !important;
    font-weight: bold !important;
    color: #777 !important;
}
        
.teacss-ui .ui-button-text {
    padding: 0.1em 0.1em 0.1em 1em;
}
        
.teacss-ui .ui-button-text-only .ui-button-text {
    padding: 0.1em 0.1em;
    line-height: 1.8;
}     

.teacss-ui .ui-button {
    background: #f4f4f4 !important;
    border-radius: 0;
}
        
.teacss-ui .component-overlay .ui-button-text {
    line-height: 1.2;
    padding: 0.1em 0.35em;    
    color: blue;
}
                
.teacss-ui .component-overlay .ui-button {
    border: 1px solid blue;
    background: white;
    opacity: 0.8;
}

.teacss-ui .editorPanel-toolbar .ui-button {
    background: #fff !important;
    border: 1px solid #aaa;
    font-size: 1.2em;
}

.teacss-ui .editorPanel-toolbar .ui-button:hover {
    border-color: #777;
}
            
.teacss-ui .combo-group {
    background: #eee !important;
    font-size: 13px !important;
    font-weight: bold !important;
    color: #555;
}

.teacss-ui .ui-tabs.preview-tabs > .ui-tabs-nav {
    border: none;
}
        
.teacss-ui .ui-tabs.preview-tabs > .ui-tabs-nav > li {
    border: none;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 !important;
}

.teacss-ui input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 2px;
}


.teacss-ui .ui-accordion .ui-accordion-header {
    margin-top: 0 !important;
}

.teacss-ui .thumb {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    margin: 5px;
    cursor: pointer;
}

.teacss-ui .thumb svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.component-form textarea {
    width: 98%;
    margin-bottom: 10px;
}

.component-form label {
    width: 98%;
    display: block;
}
        
.component-form input {
    width: 98%;
    margin-bottom: 10px;
}

.component-form input[type="checkbox"], .component-form input[type="radio"]{
    width: auto;
    display: inline-block;
    margin: 0 6px 0 0;
    float: left;
}

.component-form select {
    width: 98.5%;
    margin-bottom: 10px;
}

.component-form p textarea,
.component-form p select,
.component-form p input {
    margin-bottom: 0;
}

.component-form p {
    margin-bottom: 10px;
}

.component-form table {
    width: 98.5%;
}
        
.component-form th {
    font-weight: bold;
}
        
.component-form table tr > * {
    padding: 5px 10px 5px 0;
}
        
.component-form table td input {
    margin: 0;
}

        
.combo-item .ui-icon {
    float: right;
}

.only-icons .combo-item {
    position: relative;
}

.only-icons .combo-item .ui-icon {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    float: none;
    right: 0;
    top: 0;
}

.combo-group .ui-icon {
    float: right;
}